#container {
    width: 50%;
    position: relative;
    left=0;
}

#the-canvas, #overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    z-index: 1;
}

#preview {
    position: absolute;
    top: 0;
    left: 100%;
}