@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #f8f8f8;
}

#container {
    width: 45%;
    position: relative;
    left: 10%;
}

#the-canvas,
#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    z-index: 1;
}

#preview {
    position: absolute;
    top: 0;
    left: 100%;
}